*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: blueviolet;
    color: white;
}
#main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
}
#card1{
    background-color: white;
    color: black;
    width: 300px;
    height: 300px;
   
}
#card2{
    background-color: white;
    color: black;
    width: 300px;
    height: 300px;
    
}
#card3{
    background-color: white;
    color: black;
    width: 300px;
    height: 300px;

}
#main img {
    border-radius: 50%;
    margin-bottom: 10px;
    position: center;
    border: 2px solid blueviolet;
 
}
#main > div {
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
}
#read{
    background-color: white;
    color: blueviolet;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid blueviolet;
}
#sub{

    background-color:blueviolet;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
#read:hover{
background-color: blueviolet;
color: white;
}

#sub:hover{
    background-color: white;
    color: blueviolet;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
    font-size: 30px;
    margin-top: 20px;
    color: white;
}
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    color: white;
    font-size: 40px;
}
.fa-solid{
   color: blueviolet;
}
.stars .fa-regular.fa-star {
    color: blueviolet; /* Empty stars purple */
    
}
.main:hover{
    transform: scale(1.05); /* Slightly enlarge the card on hover */
 transition: transform 0.3s ease;
}
/* For tablets */
@media (max-width: 900px) {
    #main {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }

    #main > div {
        width: 45%; /* 2 cards per row */
    }
}

/* For mobile phones */
@media (max-width: 600px) {
    #main {
        flex-direction: column;
        align-items: center;
    }

    #main > div {
        width: 90%; /* Full width on small screens */
    }
}
